*~
*.o
*.lss
*.elf
*.map
*.sym
*.bin
*.hex
*.eep
firmware/lufa/
firmware/obj/
software/__pycache__/
software/dist/
software/build/
hardware/gerbers/

# KiCad
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.tmp
_autosave-*
_saved_*
*-save.pro
*-save.kicad_pcb
*-rescue.lib
*.net
fp-info-cache
